{% extends "base.html" %}
{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block blog_content %}
    {% block posts %}
        {% for post in posts %}
            <h3><a href="{% url 'post_detail' post.pk %}">
                {{post.title}}
            </a></h3>
            <small>
                {{ post.created_at.date }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'post_category' category.name %}">{{ category.name }}</a>
                {% endfor %}
            </small>
            <p>{{ post.content | slice:":100" }}...</p>
        {% endfor %}
    {% endblock posts %}
{% endblock blog_content %}